.nodered/.flows_Jason-PC.json.backup
[{"id":"b08b066f.fbb7d8","type":"tab","label":"Flow 1"},{"id":"de44f1e3.de42a","type":"tab","label":"Flow 2"},{"id":"ff376a4b.f49b78","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service39","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"39aa5352.a005ac","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"21f35b6.c3927a4","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"f71f8ba6.1c8cd8","type":"websocket-listener","z":"","path":"/ws/gateway","wholemsg":"false"},{"id":"c2299122.b19ed","type":"debug","z":"b08b066f.fbb7d8","name":"","active":false,"console":"false","complete":"payload","x":376.8125,"y":81.81875610351562,"wires":[]},{"id":"dd1a42ce.3cac8","type":"function","z":"b08b066f.fbb7d8","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg( JSON.parse(msg.payload));\nif(parseData === null){\n    node.warn('Repeat message drop!!!');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":416.1874694824219,"y":155.20547485351562,"wires":[["edd43dd5.a0a19"]]},{"id":"c4d5b637.ee8878","type":"mqtt in","z":"b08b066f.fbb7d8","name":"mqtt","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"ff376a4b.f49b78","x":135.81251525878906,"y":82.42987823486328,"wires":[["c2299122.b19ed"]]},{"id":"c12dca36.fc8a08","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":"[{\"channel\":922625000, \"sf\":9, \"time\":\"2017-07-21T07:40:05\", \"gwip\":\"192.168.3.4\", \"gwid\":\"00001c497b3b80e6\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-115.5, \"snr\":-9.5, \"snr_max\":-6.0, \"snr_min\":-13.8, \"macAddr\":\"0000000004000493\", \"data\":\"aa000809b30038017b0000\", \"frameCnt\":1, \"fport\":2}]","payloadType":"json","repeat":"","crontab":"","once":false,"x":88.81249618530273,"y":227.8187484741211,"wires":[["f13585b9.aade58"]]},{"id":"f13585b9.aade58","type":"function","z":"b08b066f.fbb7d8","name":"","func":"var obj = msg.payload[0];\n var cnt = 0;\nif(context.get('count') === undefined){\n    context.set(\"count\",obj.frameCnt);\n}else{\n    cnt = context.get('count') + 1;\n    context.set(\"count\",cnt);\n}\n//node.warn('cnt: '+cnt);\n\nobj.frameCnt = cnt;\nobj.time = new Date();\nmsg.payload = JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":239.8125228881836,"y":228.81877660751343,"wires":[["321fc266.1d3efe","dd1a42ce.3cac8"]]},{"id":"be973125.d8c58","type":"function","z":"b08b066f.fbb7d8","name":" message switch notify","func":"\nvar obj = msg.payload;\nvar debug = false;\nnode.warn('final payload : \\n'+JSON.stringify(obj));\nif(obj.information.voltage<600){\n    var str = obj.mac + \":\"+\"電壓 = \" + obj.information.voltage + \"過低\";\n    msg.payload = str;\n    msg.topic = \"惟壹sensor問題通知\";\n    node.warn('final payload : '+str);\n\n    return msg;\n}else{\n    return;\n}","outputs":1,"noerr":0,"x":619.8125,"y":235.81875610351562,"wires":[["7460f1be.3e2b9"]]},{"id":"7460f1be.3e2b9","type":"e-mail","z":"b08b066f.fbb7d8","server":"smtp.gmail.com","port":"465","secure":true,"name":"hyper5798@gmail.com","dname":"","x":876.8124542236328,"y":235.8187484741211,"wires":[]},{"id":"39cc8912.c924f6","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":" {\"mac\":\"05010403\",\"data\":\"aa1069007b00170200db09fa00cf0205\",\"recv\":\"2017-06-08T00:31:52.000Z\",\"date\":\"2017/06/08 08:31:52\",\"extra\":{\"gwip\":\"134.208.240.24\",\"gwid\":\"00001c497b431f8e\",\"rssi\":-105,\"snr\":15.5},\"timestamp\":1496881912000,\"information\":{\"ph\":1.23,\"do\":0.23,\"cond\":131.291,\"temperature\":25.54,\"ntu\":2.07,\"voltage\":517}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":432.8125,"y":235.81875610351562,"wires":[["be973125.d8c58"]]},{"id":"b55d8c18.efc18","type":"comment","z":"b08b066f.fbb7d8","name":"手動測試(須改data tag)","info":"","x":153.97916412353516,"y":287.6854372024536,"wires":[]},{"id":"509da271.c6b37c","type":"comment","z":"b08b066f.fbb7d8","name":"手動測試mail收信(不需改tag)","info":"","x":475.97918701171875,"y":287.68543243408203,"wires":[]},{"id":"edd43dd5.a0a19","type":"debug","z":"b08b066f.fbb7d8","name":"","active":true,"console":"false","complete":"false","x":604.4998626708984,"y":79.83749198913574,"wires":[]},{"id":"321fc266.1d3efe","type":"debug","z":"b08b066f.fbb7d8","name":"","active":false,"console":"false","complete":"false","x":190.49998474121094,"y":158.83749389648438,"wires":[]},{"id":"202f1dbc.4a5052","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":114.50621032714844,"y":359.3811683654785,"wires":[["d548bb99.2886c8"]]},{"id":"d548bb99.2886c8","type":"function","z":"b08b066f.fbb7d8","name":"Save final list to  DB","func":"var dbUtil = context.global.dbUtil;\nvar msgTools = context.global.msgTools;\nvar obj = {\n   \"selector\": {\n    \"mac\": \"0000000004000493\"\n     },\n    \"fields\" : [\"macAddr\",\"information.\"],\n    \"limit\": 10,\n    \"skip\": 0\n  };\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\nvar list = {\n      \"mac\":\"aaaaaa\",\n      \"temp\":\"32\",\n      \"humidity\":\"55\",\n      \"recordTime\":\"2017-08-31T09:48:42.504104Z\"\n    };\nmsgTools.saveFinalListToFile(null); \nmsg.payload = msgTools.getFinalList();\nreturn msg;","outputs":1,"noerr":0,"x":356.8124465942383,"y":358.8187313079834,"wires":[["1b0f2d75.504643"]]},{"id":"1b0f2d75.504643","type":"debug","z":"b08b066f.fbb7d8","name":"","active":true,"console":"false","complete":"false","x":633.4999237060547,"y":358.8374671936035,"wires":[]},{"id":"6145e96b.c5a8d8","type":"websocket in","z":"de44f1e3.de42a","name":"web socket index - in","server":"39aa5352.a005ac","client":"","x":160.81251525878906,"y":114,"wires":[["30acab7c.aa51d4"]]},{"id":"30acab7c.aa51d4","type":"function","z":"de44f1e3.de42a","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n\tcontext.global.selectedType=obj.v;\n\tmsg.url = 'http://localhost:3001/todos/lists?name=finalist&type='+obj.v;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":443.2569580078125,"y":131.3333330154419,"wires":[["aa4be595.226cc8"],["ee8fbabd.fbba48"]]},{"id":"97c8fa73.d89728","type":"function","z":"de44f1e3.de42a","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getFinalData(finalist);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":890.2569580078125,"y":154.00000381469727,"wires":[["aa4be595.226cc8"]]},{"id":"aa4be595.226cc8","type":"websocket out","z":"de44f1e3.de42a","name":"web socket mobiUI - out","server":"39aa5352.a005ac","client":"","x":1179.2569580078125,"y":114.00000381469727,"wires":[]},{"id":"fcd8c1b0.3b86d","type":"comment","z":"de44f1e3.de42a","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":139.2569580078125,"y":67.00000381469727,"wires":[]},{"id":"ee8fbabd.fbba48","type":"http request","z":"de44f1e3.de42a","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":650.2569580078125,"y":154.00000381469727,"wires":[["97c8fa73.d89728"]]},{"id":"48f0d357.28d5dc","type":"websocket out","z":"de44f1e3.de42a","name":"web socket mobiUI - out","server":"21f35b6.c3927a4","client":"","x":917.3758697509766,"y":391.3999938964844,"wires":[]},{"id":"1d4a752.7a9d58b","type":"websocket in","z":"de44f1e3.de42a","name":"web socket tools - in","server":"21f35b6.c3927a4","client":"","x":154.70919799804688,"y":306.4000005722046,"wires":[["a167525b.4e085","348c01e5.217e8e"]]},{"id":"7a6d5686.f33848","type":"comment","z":"de44f1e3.de42a","name":"Listen /ws/devices","info":"","x":141.37586975097656,"y":266.3999938964844,"wires":[]},{"id":"a167525b.4e085","type":"function","z":"de44f1e3.de42a","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":137.8203125,"y":390.3999900817871,"wires":[["4baab0ab.0f547"]]},{"id":"348c01e5.217e8e","type":"debug","z":"de44f1e3.de42a","name":"","active":false,"console":"false","complete":"payload","x":467.62586975097656,"y":304.0171813964844,"wires":[]},{"id":"4baab0ab.0f547","type":"http request","z":"de44f1e3.de42a","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":325.3758316040039,"y":390.39998722076416,"wires":[["115bf7f9.ffd1b8","6af3a6d4.0c6e68"]]},{"id":"115bf7f9.ffd1b8","type":"debug","z":"de44f1e3.de42a","name":"","active":false,"console":"false","complete":"payload","x":448.61805725097656,"y":470.0171813964844,"wires":[]},{"id":"6af3a6d4.0c6e68","type":"function","z":"de44f1e3.de42a","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar devices = msg.payload;\n\nvar dataObj = msgTools.getDevicesData(devices);\n\nmsg.payload = {id:\"init_table\", v: dataObj }; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":616.3758697509766,"y":392.3999938964844,"wires":[["48f0d357.28d5dc","dfe75a4d.6334e8"]]},{"id":"dfe75a4d.6334e8","type":"debug","z":"de44f1e3.de42a","name":"","active":true,"console":"false","complete":"false","x":834.5061798095703,"y":466.8437194824219,"wires":[]},{"id":"d7bbe2ee.27642","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":109.81250762939453,"y":448.8187561035156,"wires":[["711b86f6.809d98"]]},{"id":"711b86f6.809d98","type":"function","z":"b08b066f.fbb7d8","name":"Updata device-map from  DB","func":"var dbUtil = context.global.dbUtil;\nvar msgTools = context.global.msgTools;\nmsgTools.updateDeviceMap();\nreturn msg;","outputs":1,"noerr":0,"x":372.1187438964844,"y":448.2563190460205,"wires":[[]]},{"id":"55cd7842.f07ef8","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":110.81250762939453,"y":492.8187561035156,"wires":[["2659730.42e998e"]]},{"id":"2659730.42e998e","type":"function","z":"b08b066f.fbb7d8","name":"Updata finalList from  DB","func":"var dbUtil = context.global.dbUtil;\nvar msgTools = context.global.msgTools;\nmsgTools.updateFinalList();\nreturn msg;","outputs":1,"noerr":0,"x":363.1187438964844,"y":492.2563190460205,"wires":[[]]}]